.form-error {
  border: 2px solid #ff6565;
}

.error-message {
  color: #ff6565;
  padding: 0.5em 0.2em;
  height: 1em;
  position: absolute;
  font-size: 0.8em;
}

/* for ticket forms */
.ticket-form-container {
  width: 50%;
  margin: 8% auto auto auto;
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
  padding: 2%;
}

.navbar {
  background-color: #2b2c2e;
}

.navbar-toggler {
  background-color: #1b1c1d !important;
  border-color: #1b1c1d !important;
  color: white !important;
}

/*Go to component to see overridden css*/
.ticket-form-label {
  color: black;
  font-size: 25px;
}
.ticket-form {
  width: 80%;
  margin: 5% auto 5% auto;
}
.drop-down {
  display: flex;
  justify-content: center;
}
.ticket-header {
  display: flex;
  justify-content: center;
}
.ticket-form-button {
  padding-top: 20em;
}
