.form-error {
    border: 2px solid #FF6565;
}

.error-message {
    color: #FF6565;
    padding: .5em .2em;
    height: 1em;
    position: absolute;
    font-size: .8em;
}

/* for ticket forms */
.ticket-form-container {
  width: 50%;
  margin: 8% auto auto auto;
  background-color: rgb(248,248,248);
  border-radius: 10px;
  padding:2%;
}

.navbar{
  background-color: #323335;
}

.navbar-toggler{
  background-color: #1B1C1D !important;
  border-color:#1B1C1D!important;
  color: white !important;
}

/*Go to component to see overridden css*/
.ticket-form-label{
  color: black;
  font-size: 25px;
}
.ticket-form {
  width: 80%;
  margin: 5% auto 5% auto;
}
.drop-down{
  display: flex;
  justify-content: center;
}
.ticket-header{
  display: flex;
  justify-content: center;
}
.ticket-form-button{
  padding-top: 20em; 
}